# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/generated/
.gitignore
/runServer/logs/2025-03-25-1.log.gz
/runServer/logs/2025-03-25-2.log.gz
/runServer/logs/2025-03-25-3.log.gz
/runServer/logs/2025-03-25-4.log.gz
/runServer/logs/2025-03-25-5.log.gz
/runServer/logs/2025-03-25-6.log.gz
/runServer/banned-ips.json
/runServer/banned-players.json
/runServer/logs/debug.log
/runServer/logs/debug-1.log.gz
/runServer/logs/debug-2.log.gz
/runServer/logs/debug-3.log.gz
/runServer/logs/debug-4.log.gz
/runServer/logs/debug-5.log.gz
/runServer/.fabric/processedMods/emi-1.1.20+1.21.1+fabric-64b5720b4b825f21.jar
/runServer/eula.txt
/runServer/.fabric/processedMods/fabric-api-0.115.3+1.21.1-64b5720b4b825f21.jar
/runServer/logs/latest.log
/runServer/world/level.dat
/runServer/world/level.dat_old
/runServer/ops.json
/runServer/world/entities/r.-1.-1.mca
/runServer/world/poi/r.-1.-1.mca
/runServer/world/region/r.-1.-1.mca
/runServer/world/poi/r.-2.-1.mca
/runServer/world/region/r.-2.-1.mca
/runServer/world/data/raids.dat
/runServer/world/DIM-1/data/raids.dat
/runServer/world/DIM1/data/raids_end.dat
/runServer/server.properties
/runServer/world/session.lock
/runServer/usercache.json
/runServer/whitelist.json
